In [15]:
import numpy as np
import pandas as pd

In [2]:
def y(x1,x2):
    return 2000 + 125*x1 + 40*x2

In [16]:
df = pd.DataFrame(columns = ['steps', 'x1', 'x2', 'response (y)'])
x1 = 0
x2 = 0
step = 0
df.loc[len(df)] = [step, x1, x2, y(x1,x2)] # initial

while y(x1,x2) <= 2500:
    x1 += 1
    x2 += 0.32
    step += 1
    df.loc[len(df)] = [step, x1, x2, y(x1,x2)]

In [19]:
df

  steps x1    x2 response (y)
0     0  0     0         2000
1     1  1  0.32       2137.8
2     2  2  0.64       2275.6
3     3  3  0.96       2413.4
4     4  4  1.28       2551.2